section.section__delivery-methods
  h2.center-text Способы доставки
  .container.row
    .delivery-methods__block
      img.delivery-methods__image(src="img/img-1.jpg" srcset="img/img-1@2x.jpg 2x, img/img-2@3x.jpg 3x")
      h3 Курьерская доставка
      p.delivery-methods__text Вы сами решаете, куда и когда доставить заказ. И сами выбираете, какие вещи оплатить, а какие – вернуть торговому представителю.
      ul.delivery-methods__list
        li.delivery-methods__list-item Подходящая дата и время доставки
        li.delivery-methods__list-item Разные интервалы доставки: от 15 минут
        li.delivery-methods__list-item В 150+ городах доставка на следующий день
    .delivery-methods__block
      img.delivery-methods__image(src="img/img-2.jpg" srcset="img/img-2@2x.jpg 2x, img/img-2@3x.jpg 3x")
      h3 Самовывоз
      p.delivery-methods__text Хотите забрать заказ самостоятельно? Оформите доставку в один из пунктов выдачи заказов.
      ul.delivery-methods__list
        li.delivery-methods__list-item Более 6 000 пунктов по всей стране
        li.delivery-methods__list-item Удобные часы работы и расположение
        li.delivery-methods__list-item Возможность выбрать пункт с примерочными