section.section__delivery-search.center-text
  .container
    p.text.text--large: b Узнать подробнее о способах, скроках и ценах доставки в ваше городе
    form#delivery-city
      .form-field.row.row-center.no-column
        .delivery-search__block
          input(type="text" placeholder="Санкт-Петербург" class="city-select")
        .delivery-search__block
          button.btn Узнать