section.section__delivery-faq
  .container
    h2 Вопросы и ответы
    ul.delivery-faq__list
      li.delivery-faq__list-item.js-show Что если я не могу определиться с размером?
        p.delivery-faq__content content
      li.delivery-faq__list-item.js-show Если мне ничего не подошло?
        p.delivery-faq__content content
      li.delivery-faq__list-item.js-show Как получить бесплатную доставку с примеркой?
        p.delivery-faq__content content
      li.delivery-faq__list-item.js-show Мне придется ждать торгового представителя целый день?
        p.delivery-faq__content Нет. Торговый представитель приедет в тот временной интервал, который вы указали при оформлении заказа. Если вы точно знаете, в какое время нужен заказ, закажите доставку в течение выбранного часа или 15-ти минут.
      li.delivery-faq__list-item.js-show Где должен находиться торговый представитель, пока я примеряю одежду?
        p.delivery-faq__content content
      li.delivery-faq__list-item.js-show Что такое постамат?
        p.delivery-faq__content content
    button.btn Задать вопрос