section.section__delivery-partners
  h2.center-text Наши партнеры
  .content-container.row.row-around
    .delivery-partners__image
      img(src="img/partner-5.png" srcset="img/partner-5@2x.png 1.5x, img/partner-5@3x.png 2.5x")
    .delivery-partners__image
      img(src="img/partner-1.png" srcset="img/partner-1@2x.png 1.5x, img/partner-1@3x.png 2.5x")
    .delivery-partners__image
      img(src="img/partner-2.png" srcset="img/partner-2@2x.png 1.5x, img/partner-2@3x.png 2.5x")
    .delivery-partners__image
      img(src="img/partner-4.png" srcset="img/partner-4@2x.png 1.5x, img/partner-4@3x.png 2.5x")
    .delivery-partners__image
      img(src="img/partner-6.png" srcset="img/partner-6@2x.png 1.5x, img/partner-6@3x.png 2.5x")
    .delivery-partners__image
      img(src="img/partner-3.png" srcset="img/partner-3@2x.png 1.5x, img/partner-3@3x.png 2.5x")


