
section.section__delivery-info.center-text
  .container
    h1 Доставка Klothez
    p.text.text--large Узнайте о преимуществах каждого способа доставки и выберите самый удобный
    ul.delivery-info__list.row
      li.delivery-info__list-item.icon.icon--icon-1
        p.delivery-info__text: b Примерка перед покупкой
      li.delivery-info__list-item.icon.icon--icon-2
        p.delivery-info__text: b Выбор даты и времени доставки
      li.delivery-info__list-item.icon.icon--icon-3
        p.delivery-info__text: b Оплата наличными или картой при получении
      li.delivery-info__list-item.icon.icon--icon-4
        p.delivery-info__text: b Возможность бесплатной доставки




