input[type="search"], input[type="text"], input[type="password"], input[type="tel"], input[type="email"], input[type="url"], textarea {

  width: 100%;
  font-size: 16px;
  padding: 12px 10px 14px;
  background-color: $element-bg-color !important;
  color: $black;
  border-radius: 0.25em;
  &::placeholder {
    font-size: 12px;
    color: $main-text;

  }

}




input:-webkit-autofill {
  background-color: $input !important;
  -webkit-box-shadow: inset 0 0 0 50px $input !important;
  -webkit-text-fill-color: $white !important;
  background-image: none !important;
  color: $white !important;
}


//BUTTONS
@mixin btn {
  text-decoration: none;
  display: inline-block;
  padding: 0.5em 1.16875rem;
  border: 1px solid $white;
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  color: $white;
  font-size: 16px;
  border-radius: 0.25em;
  @include media-breakpoint-up(sm){
    font-size: 14px;
  }
  &:hover {
    background-color: $success;
    border: 1px solid $success;
  }
  &.btn--full {
    width: 100%;
  }
  &[disabled] {
    cursor: default;
    &:hover {
      border: 1px solid $white;
      background-color: transparent;
    }
  }

}

button, input[type="submit"], input[type="reset"], input[type="button"] {
  @include btn;

}

