


//font size settings


html, body {
  font-family: 'IBM Plex Sans', sans-serif;
  //line-height: 2.5em;
  font-size: 16px;
  line-height: 1.4em;
}

@include media-breakpoint-up(md) {
  html, body {

    font-size: 14px !important;
  }
}

@include media-breakpoint-up(sm){
  html, body {
    font-size: 12px !important;
  }
}


//LINKS
a {
  color: $black;
  cursor: pointer;
  &:visited {

  }
  &:hover {
    text-decoration: none;

  }
  &:active {
    text-decoration: none;

  }
}

//TEXT

.text{
  font-size: $fz;
  &--large{
    font-size: $fz-lg;

  }
}


p {
  //
  //font-size: $fz-lg;

  //margin: 0 0 15px;
}

//usage class
.center-text {
  text-align: center;
}

h1{
  font-size: $h1;

}

h2{
  font-size: $h2;
}

h3{
  font-size: $h3;
}

