//URLS
$url-font: "../fonts/";
$url-img: "../img/";
$url-icons:  "../img/icons/";

//CONTAINER



//FONT-SIZE
$fz-lg: 18px;
$fz-md: 16px;
$fz-sm: 14px;
$fz-xs: 12px;

$lg-text: 40px;
$sm-text: 40px;

$h1: 2.25rem;
$h2: 1.1875rem;
$h3: 1.625px;
$h4: 1.375px;
$h5: 1.25px;
$h6: 1.125px;


//CONTAINER


//COLORS
$black : #000;
$white : #fff;
$light-gray : #f4f4f4;
$gray : #ddd;
$input : #ddd;
$dark-gray : #ccc;
$dark-red : #990000;
$error : #e15433;
$success : #20a86b;
$bgcolor : #0b172a;
$main-text : #7A8F99;


$enable-grid-classes:       true !default;



// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
        xxs: 0,
        xs: 573px,
        sm: 764px,
        md: 991px,
        lg: 1079px
) !default;

@import "../mixins/grid/functions";
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (

        lg: 880px,
        md: 90%
  //xs: 90%,
  //sm: 880px,

) !default;

$container-start-width: 930px;

//@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$gutter: 0.9375rem;

//slick carousel
$max-width-slick: 700px;
$dots-size: 10px;
$dots-color: black;
$dots-select-opacity: 0.75;
$dots-unselect-opacity: 0.25;
$dots-margin: 5px;
$pagination-font-size: 18px;
$pagination-color: $dots-color;
$pagination-select-opacity: $dots-select-opacity;
$pagination-unselect-opacity: $dots-unselect-opacity;
$pagination-margin: $dots-margin;
$arrow-size: 20px;
$arrow-color: $dots-color;
$arrow-font-size: 35px;
$arrow-select-opacity: $dots-select-opacity;
$arrow-unselect-opacity: $dots-unselect-opacity;











