
/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  //margin: 0;
  padding: 0;
  max-width: $max-width-slick;
  margin: 0 auto;
  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: inline-block;
    max-width: 100%;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots {
  text-align: center;
  li {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    vertical-align: middle;
    &:hover {
      button {
        opacity: $dots-select-opacity;
      }

    }
    button {
      display: block;
      width: $dots-size;
      height: $dots-size;
      padding: 0 $dots-margin;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: $dots-color;
      opacity: $dots-unselect-opacity;
      border-radius: 50%;

    }
    &.slick-active {
      button {
        opacity: $dots-select-opacity;
      }

    }
  }

}

.slick-pagination {
  text-align: center;
  li {
    display: inline-block;
    margin: 0 $pagination-margin;
    cursor: pointer;
    font-size: $pagination-font-size;
    &:hover {
      button {
        opacity: $pagination-select-opacity;
      }

    }

    button {
      display: block;
      padding: 0 $pagination-margin;
      cursor: pointer;
      opacity: $pagination-unselect-opacity;
      background: transparent;
    }
    &.slick-active {
      button {
        opacity: $pagination-select-opacity;
      }

    }
  }

}

.slick-prev, .slick-next {
  font-family: monospace;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: $arrow-size;
  height: $arrow-size;
  transform: translate(0, -50%);
  cursor: pointer;
  color: black;
  border: none;
  outline: none;
  background: transparent;
  z-index: 1;
  &:hover {
    opacity: $arrow-unselect-opacity;
  }
  &:before {
    font-size: $arrow-font-size;
    line-height: 1;
    opacity: $arrow-select-opacity;
    @include font-smoothing();

  }

}

.slick-prev {
  left: 25px;
  &:before {
    content: '\003C';

  }

}

.slick-next {
  right: 25px;
  &:before {
    content: '\003E';
  }

}

.slick-vertical {

  .slick-prev, .slick-next {
    left: 50%;
    right: 0;
    top: initial;
    transform: rotate(90deg);

  }
  .slick-prev {
    top: 25px;
  }

  .slick-next {
    bottom: 25px;

  }

}


