footer.footer
  .content-container.row
    .footer__block.footer__block-contact
      p Москва, ул. Авиамоторная дом 50 с2
      p: a(href="tel:+78002007456"): b 8 800 200-7456
      p: a(href="mailto:info@klothez.ru") info@klothez.ru
      .footer__text
        p: b Работаем без выходных
        p с 10.00 до 20.00, ежедневно
    .footer__block.footer__block-nav.row.no-column
      ul.footer__nav-list
        li: a(href="#") О компании
        li: a(href="#") Контакты
        li: a(href="#") Доставка и оплата
        li: a(href="#") Гарантии
        li: a(href="#") Договор оферты
        li: a(href="#") Политика безопасности
      ul.footer__nav-list
        li: a(href="#") Новости
        li: a(href="#") Акции
        li: a(href="#") Хиты продаж
        li: a(href="#") Блог
    .footer__block.footer__block_social
      p: b Мы в социальных сетях
      ul.footer__social-list
        li: a.icon.icon--fb: a(href="#")
        li: a.icon.icon--inst: a(href="#")
        li: a.icon.icon--google: a(href="#")
        li: a.icon.icon--yt: a(href="#")
    .footer__block.footer__block_payment
      p: b Принимаем к оплате
      ul.footer__payment-list
        li.icon.icon--master
        li.icon.icon--visa
        li.icon.icon--mir
      p: a(href="#") Подробнее об оплате
