block PrimaryNavigation
  nav.header__menu
    ul.header__navigation
      li.header__navigation_main-category: a(href="#") Женщинам
        ul.header__navigation_category-content
          li: a(href="#") Одежда
          li: a(href="#") Обувь
          li: a(href="#") Сумки и аксессуары
          li: a(href="#") Распродажа
      li.header__navigation_main-category: a(href="#")  Мужчинам
        ul.header__navigation_category-content
          li: a(href="#") Одежда
          li: a(href="#") Обувь
          li: a(href="#") Сумки и аксессуары
          li: a(href="#") Распродажа