block PrimaryNavigation
  .header-menu
    .content-container.row.no-column
      div: a.header-menu__logo
      ul.header-menu__navigation
        li.header-menu__navigation_category Женщинам
        li.header-menu__navigation_category Мужчинам
      form.header-menu__search.icon--search#header-search
          input.header-menu__search-input(type="text" placeholder="Поиск товаров")
      div.header-menu__login.icon--user Войти
  nav.header-secondmenu
      ul(data-content="man").header-secondmenu__navigation.content-container
        li.header-secondmenu__navigation_category: a(href="#") Одежда
        li.header-secondmenu__navigation_category: a(href="#") Обувь
        li.header-secondmenu__navigation_category: a(href="#") Сумки и аксессуары
        li.header-secondmenu__navigation_category.error: a(href="#") Распродажа
      ul(data-content="man").header-secondmenu__navigation.content-container
        li.header-secondmenu__navigation_category: a(href="#") Одежда
        li.header-secondmenu__navigation_category: a(href="#") Обувь
        li.header-secondmenu__navigation_category: a(href="#") Сумки и аксессуары