block PrimaryNavigation
  - var NavItems = [{'url':'main','title':'Main'},{'url':'home','title':'Home'},{'url':'about','title':'About Us'},{'url':'projects','title':'Our Projects'},{'url':'contacts','title':'Contact Us'}];
  - var SiteItems = [{'url':'main','title':'Main'},{'url':'about','title':'About Us'},{'url':'projects','title':'Our Projects'},{'url':'contacts','title':'Contact Us'}]
    if PageID !== 'nav'
      ul
        each page,i in NavItems
          if PageID === page.url
            li
              a(class="active", href= page.url + '.html')= page.title
          else
            li
              a(href= page.url + '.html')= page.title
    else
      ul
        each page,i in SiteItems
            li
              a(href= page.url + '.html')= page.title