.header-mob-menu
  .content-container.row.no-column
    div.header-mob-menu__nav.icon--humburger
    div.header-mob-menu__logo.icon--logo
    div.header-mob-menu__search.icon--search
    div.header-mob-menu__login.icon--user
    div.header-mob-menu__favor.icon--heart
    div.header-mob-menu__cart.icon--cart
