extends layout/template

block variables
  - var pageClass = 'page__delivery'
  - var PageTitle = "Доставка"
block content
  include blocks/delivery-info
  include blocks/delivery-search
  include blocks/delivery-methods
  include blocks/delivery-faq
  include blocks/delivery-partners



