- var SiteName = 'Klothez'
block variables



doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title= SiteName + ' / ' + PageTitle
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no")
        meta(name="keywords" content="")
        meta(name='description', content='')
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600&amp;subset=cyrillic-ext")
        block head
        block styles
            link(rel="stylesheet", href="css/style.min.css")
    body
        include ../modules/header
        .page(class=pageClass)
            |
            block content
        include ../modules/footer
    block scripts
        script(src="js/jquery.min.js", type="text/javascript")
        script(src="js/main.min.js", type="text/javascript")