//custom
@import "components/variables";
//default
@import "mixins/mixin";
@import "libs/reset";
@import "libs/reset-full";
@import "libs/forms-reset";
@import 'mixins/grid/bootstrap-grid';

//custom
@import 'components/typographic';
@import 'components/forms';

.content-container{
  max-width: 1440px;
  padding: 0 4.5rem;
  margin: 0 auto;
}
//icons
.icon--user {
  @include before-svg-icon(1.2rem, user);
  &:before {
    height: 16px;
    width: 14px;
    top: 50%;
    transform: translate(-25%, -50%);
    left: 0;

  }

}

//blocks
@import "blocks/header";
