//custom
@import "components/variables";
//default
@import "mixins/mixin";
@import "libs/reset";
@import 'mixins/grid/bootstrap-grid';

//custom
@import 'components/typographic';
@import 'components/forms';


.content{
  max-width: 1440px;
  padding: 0 4.375rem;
  margin: 0 auto;
}
